
<br/>

<div class="text-center">
    <button class="btn btn-lg btn-default" ng-click="vm.Modal()">I have to leave early</button>
</div>

<div ng-repeat="poll in vm.polls">
    <hr>
    <h3 class="text-center">{{poll.info.question}}</h3>
<div class="text-center" ng-repeat="n in poll.info.choices">


    <button class="btn btn-lg {{vm.buttonClass}}"   name="pageSet" ng-click="vm.addvote($parent.$index,n,poll.$id,poll.info.maxOptions)" ng-class="{'btn-primary':vm.buttonSelected(n,poll.$id) > -1}"  >{{n}}</button>  <br/>
   <br/>
</div>

</div>






{{vm.userVote}}

